#register-box {
  text-align: center;
}

#login-prompt-container {
  margin-bottom: 80px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.3rem;
}

#login-prompt-link {
  font-weight: bold;
  color: gray;
}

#login-btn {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(105, 142, 245);
  font-weight: bold;
}

#login-btn:hover {
  text-decoration: underline;
}

.onoffswitch {
  position: relative;
  width: 66px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #636363;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 11px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "LUI";
  padding-left: 10px;
  background-color: #698ef5;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "LEI";
  padding-right: 10px;
  background-color: #6ce8a2;
  color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  border: 2px solid #636363;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

#rg-sex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#rg-sex-header {
  font-weight: bold;
  margin-right: 10px;
  color: rgb(99, 99, 99);
}
