#deals-choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  font-size: 1.4rem;
  min-width: 250px;
  color: rgb(99, 99, 99);
}

#deals-problem-container {
  text-align: center;
  margin-bottom: 0px;
  text-align: start;
  margin: 10px;
}

#deals-problem-link {
  display: block;
  color: rgb(105, 142, 245);
  font-size: 0.8rem;
  margin-bottom: 0px;
  line-height: 11px;
}

.deals-choice:hover {
  cursor: pointer;
  text-decoration: underline;
}

.deals-choice.active:hover {
  cursor: default;
  text-decoration: none;
}

#ds {
  color: rgb(108, 232, 162);
  font-weight: bold;
}

.deals-choice.active {
  color: rgb(99, 99, 99);
}

#deals-body {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

#deals-body.deals-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#deals-empty-container {
  border-radius: 3px;
  text-align: center;
  color: rgb(99, 99, 99);
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  width: 250px;
  text-align: start;
  line-height: 25px;
}

.de-subheader {
  margin: 0px;
  line-height: 15px;
  margin-top: 15px;
}

.de-prompt {
  background: rgb(105, 142, 245);
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  border-radius: 3px;
}

#deals-empty-header {
  font-size: 1.6rem;
  margin: 0px;
}

#deals-empty-link {
  background: rgb(32, 165, 32);
  box-shadow: 0px 0px 3px rgb(32, 165, 32);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin: 40px auto;
  display: inline-block;
}

#deals-empty-link:hover {
  box-shadow: 0px 0px 5px rgb(32, 165, 32);
  font-size: 1.01rem;

  cursor: pointer;
}
