#deals-image-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#deals-choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  min-width: 250px;
  color: rgb(32, 165, 32, 0.6);
}

#deals-problem-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

#deals-problem-link {
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 0px;
}

.deals-choice:hover {
  cursor: pointer;
  /* padding: 0 5px; */
  box-sizing: border-box;
  color: rgb(32, 165, 32, 1);
  /* font-weight: bold; */
}

.deals-choice.active:hover {
  cursor: default;
  border: none;
  padding: 0;
}

.deals-choice.active {
  color: green;
}

#deals-body {
  margin: 80px 0;
}

#deals-body.deals-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#deals-empty-container {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px rgb(32, 165, 32);
  border-radius: 3px;
  text-align: center;
  color: rgb(32, 165, 32);
  /* font-weight: bold; */
  /* color: purple; */
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 20px 40px;
}

#deals-empty-container.selling {
  box-shadow: 0px 0px 2px purple;
  color: purple;
}

#deals-empty-header {
  font-size: 1.6rem;
  /* font-weight: 200; */
  margin-top: 40px;
}

#deals-empty-header.deals-noBooksSold {
  margin-bottom: 40px;
}

#deals-empty-link {
  background: rgb(32, 165, 32);
  box-shadow: 0px 0px 3px rgb(32, 165, 32);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin: 40px auto;
  display: inline-block;
}

#deals-empty-link:hover {
  box-shadow: 0px 0px 5px rgb(32, 165, 32);
  font-size: 1.01rem;

  cursor: pointer;
}
