#login-actions {
  text-align: center;
}

#recover-prompt {
  display: block;
  text-decoration: none;
  margin: 20px;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(108, 232, 162);
}

#recover-prompt.hidden {
  display: none;
}

#recover-prompt:hover {
  text-decoration: underline;
}

#login #register-btn {
  margin-top: 0px;
  color: rgb(105, 142, 245);
  text-decoration: none;
}

#login #register-prompt-container {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 30px;
}

#login #register-prompt {
  color: gray;
}

#login #register-btn:hover {
  text-decoration: underline;
}
