#deliveryInfo #container {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
  position: relative;
  text-align: center;
}

#deliveryInfo #header-ico {
  top: -10px;
  left: -10px;
  color: purple;
}

#deliveryInfo .body-container {
  margin: 40px 10%;
  box-sizing: border-box;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  text-align: center;
}

#deliveryInfo .body {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#deliveryInfo .info-label {
  /* font-size: 0.9rem; */
  font-style: italic;
  text-align: start;
  padding-left: 10px;
  box-sizing: border-box;
}

#deliveryInfo .info-label-explainer {
  border: 1px solid rgb(32, 165, 32);
  box-shadow: 0px 0px 3px rgb(32, 165, 32);
  /* height: 120px; */
  border-radius: 3px;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  border-radius: 2px;
}

#deliveryInfo .info-label-explainer.editing {
  bottom: 18px;
}

#deliveryInfo .info-label:hover {
  cursor: default;
}

#deliveryInfo .info {
  box-shadow: 0px 0px 2px black;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  margin-top: 5px;
}

#deliveryInfo .info.input {
  text-align: center;
  height: 30px;
  font-size: 1rem;
}

#deliveryInfo .input-container {
  border: 0px;
  /* border: 1px solid black;
  border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#deliveryInfo .contained-input {
  height: 25px;
  font-size: 1rem;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
}

#cost-sub-container {
  width: 70%;
  position: relative;
}

#deliveryInfo #cost.contained-input {
  width: 100%;
}

#deliveryInfo .singleEditing {
  margin-top: 30px;
  margin-bottom: 30px;
  background: rebeccapurple;
}

#deliveryInfo #header-text {
  color: gray;
  /* border-bottom: 1px solid black; */
  font-weight: bold;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0 15px;
  margin: 20px;
  margin-bottom: 0px;
}

.header-container {
  text-align: center;
}

#deliveryInfo-error-label {
  color: red;
  font-size: 0.8rem;
  margin: 0px;
  margin-top: 10px;
}

#deliveryInfo-form-container {
  margin-bottom: 40px;
}

#form.body-container {
  margin-bottom: 0px;
  padding: 20px;
  box-sizing: border-box;
}

#delivery-cost-feedback {
  margin: 0px;
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  top: 23px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

#delivery-cost-feedback.low {
  color: rgb(32, 165, 32);
}

#delivery-cost-feedback.medium {
  color: rgb(255, 187, 0);
}

#delivery-cost-feedback.high {
  color: red;
}

.input-high {
  border: 1px solid red;
  box-shadow: 0px 0px 2px rgb(32, 165, 32);
}

.input-high:focus {
  outline-color: red;
}

.input-medium {
  border: 1px solid rgb(255, 187, 0);
  box-shadow: 0px 0px 2px rgb(255, 187, 0);
}

.input-medium:focus {
  outline-color: rgb(255, 187, 0);
}

.input-low {
  border: 1px solid rgb(32, 165, 32);
  box-shadow: 0px 0px 2px rgb(32, 165, 32);
}

.input-low:focus {
  outline-color: rgb(32, 165, 32);
}

#deliveryInfo-loading-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
