#bookInfo-gContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  bottom: 0px;
}
#bookInfo-gContainer #general-delete {
  font-size: 2rem;
  margin: 0px;
  background: white;
  border: 2px solid black;
  box-sizing: border-box;
  color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  line-height: 22px;
  top: -40px;
  border-radius: 15px;
  right: -40px;
}

#bookInfo-gContainer #general-delete:hover {
  border: 2px solid red;
  cursor: pointer;
}

#bookInfo {
  border: 2px solid black;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  background: white;
  z-index: 1;
  top: 100px;
}

#bookInfo.heigh-set {
  height: 660px;
}

#bookInfo #header {
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 10px;
}

#bookInfo .image-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#bookInfo #label {
  display: flex;
  border: 1px solid black;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#bookInfo #label:hover {
  color: gray;
  border: 2px solid gray;
  cursor: pointer;
}

#bookInfo #notSubmitted-container #image-header {
  display: inline-block;
  padding: 0 20px;
  margin-top: 15px;
  font-style: italic;
  font-size: 0.8rem;
}

#bookInfo #submitted .normal {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#bookInfo #submitted .normal:hover {
  cursor: pointer;
}

#bookInfo #delete {
  position: absolute;
  color: red;
  border: 1px solid black;
  right: -10px;
  top: -10px;
  font-size: 1.3rem;
  line-height: 17px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background: white;
  margin: 0px;
  z-index: 1001;
}

#bookInfo #delete:hover {
  cursor: pointer;
  border: 2px solid red;
  font-weight: bold;
}

#bookInfo #form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-width: 238px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

#bookInfo .input {
  display: block;
  height: 20px;
  text-align: center;
  width: 238px;
}

#bookInfo #select-header {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: gray;
}

.successful {
  font-weight: 300;
  font-style: italic;
}

#bookInfo #title {
  /* width: 238px; */
}

#bookInfo .info {
  margin-top: 20px;
  font-size: 1rem;
}

#bookInfo-price-label {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

#bookInfo #submit {
  margin-bottom: 30px;
  border: 1px solid black;
  display: inline-block;
  padding: 3px 8px;
  font-size: 0.9rem;
  box-shadow: 0px 0px 3px black;
  cursor: pointer;
}

#bookInfo #submit:hover {
  box-shadow: 0px 0px 5px black;
  padding: 4px 10px;
}

#bookInfo #submit.disabled {
  cursor: default;
  box-shadow: none;
  color: gray;
  border: 1px solid gray;
}

#bookInfo #submit.disabled {
  padding: 3px 8px;
}

#bookInfo .empty {
  border: 1px solid red;
}

#bookInfo .empty-header {
  color: red;
}

#bookInfo .price-input {
  display: inline;
}

#bookInfo-priceInput-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#bookInfo-decimal {
  width: 20px;
  height: 15px;
  margin-left: 5px;
  text-align: center;
}

#bookInfo #price.info {
  margin-top: 0px;
  margin-right: 5px;
  width: 60px;
  font-size: 0.9rem;
  margin-left: 10px;
}

#bookInfo-price-suggestion {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

#bookInfo-generalLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  #bookInfo {
    width: 450px;
    margin-left: -225px;
  }

  #bookInfo #form-container {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  #bookInfo {
    width: 350px;
    margin-left: -175px;
  }

  #bookInfo-gContainer #general-delete {
    top: -15px;
    right: -15px;
  }
}

@media only screen and (max-width: 450px) {
  #bookInfo {
    width: 300px;
    margin-left: -150px;
  }

  #bookInfo .input {
    width: 200px;
  }

  #bookInfo #title {
    width: 200px;
  }

  #bookInfo-price-suggestion {
    margin-left: 10px;
    margin-right: 10px;
  }
}
