#faqs-image-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#faqs-header {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

#faqs-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 70px;
}

.faq-container {
  border: 1px solid white;
  box-shadow: 0px 0px 3px purple;
  border-radius: 3px;
  padding: 0px 20px;
  margin-top: 20px;
  cursor: default;
}

.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
  color: gray;
}

.faq-ico {
  cursor: pointer;
  color: rgb(32, 165, 32);
}

.faq-ico:hover {
  font-size: 1.2rem;
}

.faq-answer {
  margin-top: 0px;
  font-size: 0.9rem;
  margin-right: 20px;
  color: gray;
}
