#home-image-container {
  width: 95%;
  height: 200px;
  background: white;
  justify-content: space-around;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px grey;
}

#home-image-text {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#helloer-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

#home-meme-container {
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  margin-top: 30px;
  background: lightcyan;
  border: 2px solid black;
}

#helloer {
  font-size: 2rem;
  margin-bottom: 0px;
}

#helps-container {
  text-align: center;
  border-top: 1px solid black;
  width: 95%;
  margin: 0 auto;
  margin-top: 100px;
}
