#home {
  position: relative;
  top: -120px;
}

#home-image-container {
  height: 65vh;
  overflow: hidden;
}

#home-image {
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 700px) {
  #home-image {
    width: 150vw;
    height: auto;
  }
}
