#userInfo-container {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
}

#userInfo-container.hidden {
  display: none;
}

#userInfo {
  border: 1px solid black;
  position: fixed;
  background: white;
  width: 40%;
  height: 420px;
  left: 50%;
  margin-left: -20%;
  top: 50%;
  margin-top: -200px;
  z-index: 5;
  text-align: center;
  min-width: 250px;
}

#userInfo-delete {
  font-size: 1.3rem;
  margin: 0px;
  background: white;
  border: 1px solid black;
  color: red;
  height: 20px;
  width: 20px;
  position: absolute;
  line-height: 17.5px;
  top: -30px;
  border-radius: 15px;
  right: -30px;
}

#userInfo-delete:hover {
  cursor: pointer;
  border: 2px solid red;
}

#userInfo-image-container {
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.userInfo-container {
  margin-top: 15px;
}

#userInfo-avatar-image {
  width: 100%;
  height: 100%;
}

#userInfo-name {
  margin: 0px;
}

#userInfo-rating-container.hidden {
  display: none;
}

#userInfo-info-gContainer {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

#userInfo-info-gContainer.lower {
  margin-top: 40px;
}

.userInfo-info-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 2px 4px;
}

.userInfo-info-text {
  margin-left: 10px;
  font-size: 0.9rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.userInfo-info-ico {
  width: 20px;
  min-width: 20px;
}

.userInfo-info-container.hidden {
  display: none;
}

#userInfo-schoolLogo-container {
  position: absolute;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  right: -15px;
  bottom: -15px;
}

#userInfo-schoolLogo {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 630px) {
  #userInfo {
    margin-left: -125px;
  }
}
