#help-image-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  background: lightgoldenrodyellow;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-fake-header {
  margin: 0px;
  font-size: 4rem;
  letter-spacing: 3rem;
  font-weight: 100;
}

#help-nav {
  /* border: 1px solid black; */
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

#help-header {
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0px 20px;
}

#help-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.help-link {
  border: 1px solid black;
  margin: 10px;
  font-size: 1rem;
  font-weight: 200;
  padding: 10px;
  box-sizing: border-box;
}

.bold {
  font-weight: 400;
}

.help-link:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}

#help-explainer-gContainer {
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
}

.help-explainer-container {
  margin-top: 50px;
  border-top: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
}

.help-exp-header {
  font-weight: 200;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  width: 35%;
  min-width: 150px;
  margin: 0 auto;
}

.exp-sub-container {
  margin-top: 20px;
}

.explainer {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  background: lightgoldenrodyellow;
}

.exp-ico {
  font-size: 3rem;
}

.exp-title {
  font-size: 2rem;
  margin: 10px;
  margin-top: 25px;
}

.help-smaller {
  font-size: 1.2rem;
}
