#footer-gContainer {
  background: black;
  color: white;
  font-weight: bold;
  margin-top: 100px;
  padding: 20px;
}

#footer-gContainer #contained {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

#footer-container-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#footer-container-contained {
  text-align: end;
}

.footer-div {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  color: white;
  font-size: 0.8rem;
}

.footer-ico {
  margin-left: 5px;
}

.footer-link {
  color: white;
  font-weight: bold;
}

#footer-email {
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

#footer-mobile {
  /* margin-right: 10px; */
  color: white;
  font-weight: bold;
}

#asskeeper {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 10px;
}

#copywright {
  color: white;
  font-size: 0.9rem;
  margin: 10px;
  margin-top: -10px;
  line-height: 20px;
}

@media only screen and (max-width: 420px) {
  #footer-container-contained {
    text-align: center;
  }

  #footer-container-links {
    justify-content: center;
  }
}
