#cart {
  position: absolute;
  background: rgb(207, 207, 207);
  border-radius: 2px;
  width: 300px;
  left: -200px;
  z-index: 1001;
  max-height: 400px;
  top: 50px;
  overflow-y: scroll;
  cursor: default;
}

#cart .cluster-container {
  margin-top: 30px;
}

#cart .book-container {
  background: #ebebeb;
  position: relative;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}

#cart .info {
  margin: 3px 5px;
  color: rgb(99, 99, 99);
  font-weight: bold;
}

#uni-cart {
  font-weight: normal;
  font-size: 0.9rem;
}

#cart .quality {
  font-size: 0.7rem;
  font-weight: bold;
}

#cart .title {
  line-height: 13px;
  margin-bottom: 5px;
}

#cart .place {
  font-size: 0.9rem;
  line-height: 13px;
  font-weight: normal;
}

#cart .book-price {
  position: absolute;
  background: rgb(108, 232, 162);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0px 5px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 1002;
  margin: 0px;
  bottom: -3px;
  right: -3px;
}

#cart .delete {
  position: absolute;
  color: rgb(99, 99, 99);
  font-size: 0.7rem;
  top: -5px;
  margin: 0px;
  right: -2px;
}

#cart .delete:hover {
  color: black;
  cursor: pointer;
}

#cart #checkout-prompt {
  text-decoration: none;
  color: white;
  background: rgb(105, 142, 245);
  border-radius: 3px;
  font-weight: bold;
  width: 255px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  font-size: 1.1rem;
}

#cart #checkout-prompt:hover {
  font-weight: bold;
  padding: 2px 4px;
}

#cart #bill {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

#cart #price-header {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px;
}

#cart #price {
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px;
}
