#feedback-image-container {
  background: lightgoldenrodyellow;
  height: 200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#feedback-fake-header {
  font-size: 4rem;
  letter-spacing: 2rem;
}

#feedback-rating {
  margin-top: 60px;
  text-align: center;
}

#feedback-rating-header {
  text-align: center;
  font-size: 1.5rem;
  margin: 0px;
  display: inline-block;
  padding: 0px 40px;
  color: gray;
  font-weight: bold;
}

#feedback-stars {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: rgb(99, 99, 99);
}

.feedback-star {
  font-size: 1.5rem;
  margin: 5px;
  cursor: pointer;
}

#feedback-comment {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#feedback-comment-done {
  font-size: 1.2rem;
  line-height: 50px;
  font-weight: bold;
  background: rgb(108, 232, 162);

  color: white;
  border-radius: 3px;
}

#feedback-comment-input {
  width: 80%;
  height: 150px;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  resize: vertical;
  background: #ebebeb;
  border-radius: 3px;
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

#feedback-comment-input::placeholder {
  font-weight: normal;
}

#feedback-comment-submit {
  border-radius: 3px;
  background: rgb(108, 232, 162);
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#feedback-comment-submit:hover {
  box-shadow: 0px 0px 3px rgb(108, 232, 162);
}

#feedback-comment-submit.hidden {
  display: none;
}

#feedback-problems-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

#feedback-problems-header {
  background: rgb(105, 142, 245);
  font-weight: bold;
  color: white;
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 50px;
}

#feedback-problems {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
}

.feedback-problem-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-problem {
  border-radius: 3px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  font-weight: bold;
  background: #ebebeb;
}

#feedback-loading {
  border: 1px solid black;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
  line-height: 80px;
}

#feedback #fpp {
  text-transform: uppercase;
}

#feedback #fpl {
  text-transform: uppercase;
}

#feedback #fpl i {
  margin-left: 10px;
}

.feedback-contact-info {
  color: gray;
  margin-left: 10px;
}

#feedback-contact {
  padding: 15px 15px;
  height: 90px;
  font-size: 0.8rem;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#feedback-contact-container {
  cursor: default;
}

@media only screen and (max-width: 410px) {
  #feedback-problems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-problems-container {
    width: 100%;
    align-items: center;
  }

  .feedback-problem-container {
    width: 100%;
  }

  #feedback #fpl {
    font-size: 0.8rem;
  }
}
