#infoComponent {
  margin: 0px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

#infoComponent #image-container {
  min-width: 120px;
  width: 120px;
  border: 2px solid black;
  box-sizing: border-box;
  height: 150px;
}

#infoComponent #image-container:hover {
  cursor: pointer;
}

/* !!!! media query to always put it in the centre */
#infoComponent #image-container.book-bigger {
  /* ok because add filters */
  position: fixed;
  width: 80vw;
  height: 80vh;
  z-index: 999;
  border: 3px solid black;
  padding: 0px;
  display: flex;
  align-items: center;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -40vh;
  min-width: 300px;
}

#infoComponent #image-container.book-bigger:hover {
  cursor: auto;
}

#infoComponent #image {
  width: 100%;
  height: 100%;
}

#infoComponent #infoContainer {
  margin: 0px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 70%;
  /* overflow: hidden; */
  /* border: 1px solid black; */
}

#infoComponent .info-container {
  display: flex;
  align-items: center;
  margin: 3px 0;
  /* border: 1px solid black; */
  /* font-size: 0.8rem; */
}

#infoComponent .info {
  margin: 0px 10px;
}

#infoComponent .info-book-ico {
  /* border: 1px solid black; */
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  line-height: 25px;
}

#infoComponent #remove-container {
  border: 0px;
}

#infoComponent #remove {
  margin-left: 0px;
  font-size: 0.8rem;
  font-style: italic;
}

#infoComponent #remove:hover {
  cursor: pointer;
  text-decoration: line-through;
  font-style: italic;
}

#title-container #title {
  font-weight: 500;
}

#quality-container #quality {
  font-weight: 300;
}

#price-container #price {
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  #infoComponent {
    margin: 0px 10px;
  }

  #infoComponent #infoContainer {
    margin-left: 10px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 350px) {
  #infoComponent .info-book-ico {
    display: none;
  }
}
