#search #image {
  background: lightgoldenrodyellow;
  height: 200px;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search #image-title {
  font-size: 3rem;
  letter-spacing: 0.8rem;
}

#search #input-container {
  text-align: center;
  margin: 80px 0px;
  margin-top: 30px;
  min-width: 200px;
}

#searchPage-header {
  display: inline-block;
  margin: 0px 20px;
  margin-top: 20px;
  padding: 2px 20px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  width: 70%;
  max-width: 400px;
  min-width: 200px;
  line-height: 20px;
  text-align: start;
  font-size: 1.5rem;
}

#search #subheader {
  font-weight: bold;
  margin: 0px;
  width: 70%;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  line-height: 15px;
  margin-top: 10px;
  text-align: start;
  color: rgb(99, 99, 99);
}

#searchPage-header-container {
  margin-top: 30px;
  text-align: center;
}

#search #title {
  width: 70%;
  max-width: 400px;
  min-width: 200px;
  height: 30px;
  background: rgb(207, 207, 207);
  border: 0px;
  font-weight: bold;
  color: white;
  text-align: start;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 0.9rem;
  border-radius: 3px;
}

#search #title:focus {
  outline-color: transparent;
}

#search #title::placeholder {
  font-weight: normal;
}

#search #input-error {
  font-weight: bold;
  margin: 0px;
  color: rgb(99, 99, 99);
  margin-bottom: 15px;
  font-size: 0.8rem;
  margin-left: 5px;
}

#search #sbmt-container {
  width: 70%;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  flex-direction: column;
}

#search .submit {
  background: rgb(105, 142, 245);
  width: 30%;
  max-width: 150px;
  min-width: 80px;
  line-height: 30px;
  margin: 0px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

#search .submit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px rgb(105, 142, 245);
}

#search #input-submit.hidden {
  display: none;
}

#search #search-list {
  background: #ebebeb;
  border-radius: 3px;
  width: 80%;
  max-width: 900px;
  min-width: 250px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

#search #search-list.empty {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

#search #search-list #header {
  margin: 0px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#search .list-g-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: center;
}

#search .list-container {
  border-radius: 3px;
  width: 80%;
  margin: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-list-counter {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
  line-height: 15px;
  margin: 0px;
}

#search .list {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
  text-align: start;
  color: white;
  font-weight: bold;
  margin: 0px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#search .list-delete {
  color: gray;
  font-size: 0.6rem;
}

#search .list-delete:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  /* border: 2px solid red; */
}

#search #search-list-proceed {
  margin: 30px 0;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: rgb(108, 232, 162);
  cursor: pointer;
}

#search #search-list-proceed:hover {
  box-shadow: 0px 0px 5px rgb(108, 232, 162);
}

#sl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

#sl-header {
  font-weight: bold;
  color: rgb(99, 99, 99);
  margin: 0px;
  font-size: 0.8rem;
  margin-left: -10px;
}

@media only screen and (max-width: 600px) {
  #search .list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #search-list-counter {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  #search .list {
    margin-bottom: 0px;
  }
}
