#book-cluster-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#book-cluster #checkout-delivery {
  font-weight: bold;
  border: 1px solid black;
}

#book-cluster {
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  position: relative;
  margin: 8px;
  margin-bottom: 33px;
  margin-right: 18px;
  padding-top: 27px;
}

#book-cluster .delivery {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px black;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  width: 200px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -100px;
  background: white;
  font-size: 0.8rem;
  border-radius: 10px;
}

#book-cluster .delivery:hover {
  cursor: default;
}

#book-cluster .delivery.clickable:hover {
  cursor: pointer;
}

#book-cluster .delivery-header {
  line-height: 40px;
  text-align: center;
  margin: 0px;
}

#book-cluster .icon-container {
  display: inline-block;
  position: absolute;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
}

#book-cluster .upperIcon-container {
  top: -10px;
  left: -10px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
}

#book-cluster .lowerIcon-container {
  bottom: -10px;
  right: -10px;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -15px;
  right: -15px;
}

#book-cluster .span-icon {
  font-weight: bold;
  font-size: 0.8rem;
}

#book-cluster .icon-container:hover {
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

#book-cluster #checkout-lower-icon {
  box-shadow: 0px 0px 0px;
  color: rgb(32, 165, 32);
  border: 1px solid rgb(32, 165, 32);
}

#book-cluster #checkout-lower-icon:hover {
  border: 1px solid black;
  cursor: default;
  font-weight: normal;
  box-shadow: 0px 0px 0px;
}

#book-cluster #subHeader-container {
  margin: 0px 40px;
  margin-bottom: 50px;
}

#book-cluster #subHeader-container.confirmation {
  margin-bottom: 30px;
}

#book-cluster .sub-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 5px;
}

#book-cluster .sub-header.confirmation {
  border: 0px solid black;
  justify-content: center;
  margin-top: 30px;
}

#book-cluster .sub-header-text {
  margin: 0px;
  margin-left: 10px;
}

#book-cluster .sub-header-ico {
  /* border: 1px solid black; */
  padding: 5px;
  color: gray;
}

#book-cluster .long {
  font-size: 0.6rem;
}

#book-cluster #orders-lower-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  box-shadow: 0px 0px 3px black;
}

#book-cluster #confirm-icon {
  font-size: 0.7rem;
}

#book-cluster .icon-container.confirmed {
  border: 1px solid rgb(32, 165, 32);
  color: rgb(32, 165, 32);
  box-shadow: 0px 0px 3px rgb(32, 165, 32);
}

/* #book-cluster .icon-container.confirmed:hover {
  cursor: default;
  font-weight: normal;
  border: 2px solid black;
} */

#book-cluster .icon-container.confirmed:hover {
  border: 1px solid rgb(32, 165, 32);
}

#book-cluster #orders-lower-icon.notConfirmed {
  width: 80px;
  border: 1px solid #f79e02;
  /* color: #f79e02; */
  box-shadow: 0px 0px 4px #f79e02;
  color: #f79e02;
  font-weight: bolder;
}

#book-cluster #orders-lower-icon.notConfirmed:hover {
  box-shadow: 0px 0px 5px #f79e02;
  cursor: pointer;
}

#deals-lower-icon.icon-container.icon-container.notConfirmed {
  width: 50px;
  border: 1px solid #f79e02;
  box-shadow: 0px 0px 3px #f79e02;
  color: #f79e02;
}

#book-cluster .price-cluster-icon {
  font-size: 0.7rem;
  font-weight: bold;
}

#book-cluster #deals-lower-icon.price-cluster-icon-container.icon-container {
  width: auto;
  padding: 10px;
  height: auto;
}
#book-cluster .price-cluster-icon-container.icon-container {
  width: auto;
  padding: 10px;
  height: auto;
}

@media only screen and (max-width: 500px) {
  #book-cluster .delivery {
    height: 30px;
    line-height: 10px;
    width: 160px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -80px;
    background: white;
    font-size: 0.7rem;
  }

  #book-cluster .delivery-header {
    line-height: 32px;
  }
}
