#paymentConfirm {
  text-align: center;
}

#paymentConfirm-image-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  height: 200px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

#paymentConfirm #body-container {
  text-align: start;
  border: 1px solid purple;
  box-shadow: 0px 0px 3px purple;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

#paymentConfirm #body-header {
  border: 1px solid purple;
  font-weight: bold;
  color: green;
  display: inline-block;
  padding: 5px 20px;
  margin: 0px;
  position: absolute;
  top: -10px;
  left: -10px;
  background: white;
  box-shadow: 0px 0px 3px purple;
  border-radius: 3px;
}

#paymentConfirm #firstLine {
  font-weight: 600;
  color: gray;
  font-size: 1.7rem;
  margin-top: 20px;
}

#paymentConfirm #thirdLine {
  /* font-size: 0.8rem; */
  margin-top: 20px;
  font-style: italic;
}

#paymentConfirm #secondLine {
  color: gray;
  font-weight: bold;
}

#paymentConfirm .body-text {
  margin: 5px;
}

#paymentConfirm #home-link {
  color: #f79e02;
  text-decoration: none;
  border: 1px solid #f79e02;
  box-shadow: 0px 0px 3px #f79e02;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 100px;
}

#paymentConfirm #home-link:hover {
  box-shadow: 0px 0px 5px #f79e02;
  cursor: pointer;
  font-weight: bold;
}

#paymentConfirm-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  #paymentConfirm #body-header {
    font-size: 0.8rem;
  }

  #paymentConfirm #home-link {
    margin-top: 60px;
  }
}
