#paymentConfirm {
  text-align: center;
}

#paymentConfirm #body-container {
  text-align: start;
  background: #ebebeb;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

#paymentConfirm #body-header {
  font-weight: bold;
  color: rgb(32, 165, 32);
  display: inline-block;
  padding: 5px 20px;
  margin: 0px;
  position: absolute;
  top: -20px;
  left: -15px;
  background: white;
  border-radius: 20px;
  font-size: 1.2rem;
}

#paymentConfirm #firstLine {
  font-weight: 600;
  color: gray;
  font-size: 1.7rem;
  margin-top: 20px;
}

#paymentConfirm #thirdLine {
  /* font-size: 0.8rem; */
  margin-top: 20px;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

#paymentConfirm #secondLine {
  color: gray;
  font-weight: bold;
}

#paymentConfirm .body-text {
  margin: 5px;
}

#paymentConfirm #home-link {
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  display: inline-block;
  margin-top: 60px;
  background: rgb(105, 142, 245);
  color: white;
  font-size: 1.3rem;
  width: 180px;
}

#paymentConfirm #home-link:hover {
  box-shadow: 0px 0px 5px rgb(105, 142, 245);
  cursor: pointer;
  font-weight: bold;
}

#paymentConfirm-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  #paymentConfirm #body-header {
    font-size: 0.8rem;
  }

  #paymentConfirm #home-link {
    margin-top: 60px;
  }
}
