.infoContainer {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#bodyInfo {
  /* border: 1px solid black; */
  background: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

#bodyInfo .info-gContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 80%;
}

#bodyInfo #plus-phone {
  font-weight: bold;
  color: rgb(32, 165, 32);
  font-size: 0.9rem;
  background: white;
  /* border: 1px solid gray; */
  margin-right: 5px;
  width: 30px;
  text-align: center;
  display: block;
  border-radius: 3px;
}

#bodyInfo .info-container-inter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#bodyInfo .info-container {
  width: 95%;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px black;
  border-radius: 4px;
}

#bodyInfo .info-ico {
  width: 25px;
  padding: 5px;
  text-align: center;
  color: rgb(99, 99, 99);
}

#bodyInfo .info-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(99, 99, 99);
  font-weight: bold;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 0.8rem;
  border-radius: 3px;
}

#bodyInfo .info-input:focus {
  outline-color: transparent;
}

#bodyInfo .info-text::placeholder {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8rem;
}

#bodyInfo .info-input {
  width: 100%;
  border: 0px solid black;
  margin-right: 10px;
}

#bodyInfo .info-input.invalid-input {
  border: 1px solid red;
}

#bodyInfo .info-input.correct-input {
  border: 1px solid rgb(32, 165, 32);
}

.set-ico {
  position: absolute;
  background: white;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: bold;
}

#bodyInfo #header {
  top: -10px;
  left: -10px;
  color: rgb(108, 232, 162);
  border-radius: 20px;
}

.bottom {
  bottom: -5px;
  right: -5px;
  background: rgb(105, 142, 245);
  box-shadow: 0px 0px 2px rgb(105, 142, 245);
  border-radius: 5px;
  color: white;
}
.bottom:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgb(105, 142, 245);
}

#bodyInfo #header-text {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

#editingEmail-label {
  color: red;
  font-size: 0.8rem;
}

.p-icon {
  font-size: 0.8rem;
  bottom: -23px;
  padding: 5px 8px;
}

.p-icon:hover {
  font-weight: bold;
  font-size: 0.8rem;
}

#noSchool-container {
  font-size: 0.8rem;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#school-container.hidden {
  display: none;
}

@media only screen and (max-width: 450px) {
  #noSchool-container {
    font-size: 0.7rem;
  }
}
