#book {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  position: relative;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#book #firstHalf {
  display: flex;
  position: relative;
}

#book .sub-container {
  height: 150px;
}

#book #user {
  display: block;
  width: 30%;
  background: #ebebeb;
  position: relative;
}

#book #image {
  width: 71%;
  height: 100%;
  margin: 0px;
  position: relative;
}

#book .fa-search-plus {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  font-size: 0.8rem;
  width: 25px;
  text-align: center;
  line-height: 25px;
  height: 25px;
  border-radius: 12.5px;
  margin-left: 2px;
  background: rgba(99, 99, 99, 0.6);
}

#book #image.result-bigger {
  /* ok because add filters */
  position: fixed;
  width: 80vw;
  height: 70vh;
  z-index: 1001;
  box-shadow: 0px 0px 50px black;
  padding: 0px;
  display: flex;
  align-items: center;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -35vh;
}

#book .fa-search-plus:hover {
  cursor: pointer;
  background: rgba(99, 99, 99, 0.8);
}

#book #info-container {
  position: relative;
  background: black;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
}

#book .info {
  margin: 0px;
}

#book .info-book-ico {
  font-size: 0.8rem;
  margin-right: 5px;
  width: 20px;
  text-align: center;
}

#book #title {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-right: 20px;
  line-height: 15px;
  overflow: hidden;
}

#book .info-container {
  display: flex;
  align-items: center;
}

#book #quality {
  font-size: 0.9rem;
}

#book #delivery {
  line-height: 12px;
  margin-top: 0px;
  font-size: 0.9rem;
}

#book #place {
  line-height: 15px;
  font-weight: 500;
  font-size: 0.8rem;
}

#book .info-book-ico.fa-euro-sign {
  color: #6ce8a2;
}

#book #price {
  font-size: 1.1rem;
  color: #6ce8a2;
}

#book .user-box {
  text-align: center;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

#book .box-big {
  height: 42px;
}

#book .box-small {
  height: 30px;
}

#book .box-text {
  margin: 0px;
}

#book #center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#book .fa-user-graduate {
  font-size: 1.1rem;
  margin-top: 5px;
  color: black;
}

#book #user-header {
  line-height: 10px;
  font-size: 0.9rem;
  color: black;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#book .rating-header {
  font-size: 0.7rem;
}

#book .fa-star {
  font-size: 0.6rem;
}

#book #stars {
  margin-left: 10px;
}

#book .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

#book .mean {
  font-size: 0.8rem;
  line-height: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

#book #convenience-box {
  /* background: #6ce8a2; gradient only for highest */
  background: rgb(207, 207, 207);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0px;
}

#book #convenience-box.highlight {
  background: rgb(207, 207, 207);
  background: linear-gradient(to right, rgb(105, 142, 245), rgb(108, 232, 162));
}

#book #convenience-check {
  font-size: 0.8rem;
  margin-left: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#book #rating-substitute {
  line-height: 15px;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  color: rgb(99, 99, 99);
  text-align: center;
  /* background: rgb(207, 207, 207);  */
  background: white;
}

#book #convenience-box.hidden {
  display: none;
}

#book #exp-cb-ico {
  position: absolute;
  font-size: 0.8rem;
  top: 5px;
  left: 5px;
  color: rgb(207, 207, 207);
}

#book #exp-cb {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  line-height: 16px;
  text-align: start;
  padding: 5px 8px;
  box-sizing: border-box;
  width: 90px;
  border-radius: 2px;
  top: -50px;
  left: -15px;
  margin: 0px;
  color: white;
  font-size: 0.8rem;
}

#book #exp-cb-ico:hover {
  color: gray;
  cursor: pointer;
}

#book #convenience-param {
  color: white;
  font-size: 1.3rem;
}

#book .icon-container {
  border: 1px solid black;
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 52px;
  border: 25px;
  background: linear-gradient(
    to bottom right,
    rgb(105, 142, 245),
    rgb(108, 232, 162)
  );
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
}

#book .icon-container:hover {
  font-size: 1.3rem;
}

#book .lowerIcon-container {
  bottom: -15px;
  right: -15px;
}

#book #result-lower-icon-bought:hover {
  cursor: default;
  font-size: 1.2rem;
}

#book #spam-container {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.8rem;
}

#book .fa-ellipsis-v {
  position: absolute;
  top: 5px;
  right: 0px;
}

#book .spam {
  background: #ebebeb;
  color: black;
  font-size: 0.8rem;
  padding: 2px 10px;
  position: relative;
  left: 8px;
  top: 7px;
}

#book .spam.second {
  top: -6px;
}

#book .spam:hover {
  cursor: pointer;
  text-decoration: underline;
}

#book .fa-ellipsis-v:hover {
  cursor: pointer;
}

#book #user-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#book .even-box {
  font-weight: bold;
  box-sizing: border-box;
  line-height: 50px;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 20px;
}

@media screen and (max-width: 450px) {
  #book #title {
    font-size: 1.1rem;
  }

  #book .info-container {
    margin-top: -2px;
  }
}
