#recover-subContainer {
  margin: 0 auto;
  margin-top: 50px;
  /* border: 1px solid black; */
  text-align: center;
  background: #ebebeb;
  width: 50%;
  padding-bottom: 30px;
  min-width: 250px;
}

#recover-subContainer.success {
  border: 1px solid black;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#recover-success-shower {
  font-size: 1.3rem;
  width: 50%;
  margin: 0 auto;
}

#recover-header {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 30px;
}

#recover-explainer {
  width: 60%;
  margin: 0 auto;
  /* font-weight: bold; */
  color: gray;
  margin-top: 20px;
}

#recover-input {
  width: 80%;
  height: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

#recover-form {
  text-align: center;
  margin-top: 30px;
}

#recover-confirm {
  font-size: 0.8rem;
  background: black;
  color: white;
  font-weight: bold;
  width: 80%;
  height: 20px;
  line-height: 20px;
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 3px;
  margin: 0 auto;
  margin-top: 30px;
}

#recover-confirm:hover {
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 0px 0px 5px black;
}

#recover-label {
  font-size: 0.8rem;
  color: red;
  font-style: italic;
}

@media only screen and (max-width: 400px) {
  #recover-header {
    font-size: 1.7rem;
  }
}
