#hc {
  background: black;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100vw;
}

#hc #contained {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#hc #logo {
  height: 40px;
  cursor: pointer;
}

#hc #navs-container {
  color: white;
  display: flex;
  align-items: center;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  /* border: 1px solid transparent; */
  margin-right: 15px;
}

#hc .nav {
  cursor: pointer;
  padding: 5px 10px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

#hc .fa-sign-in-alt {
  margin-left: 2px;
}

#hc .nav.hiddenVisibility {
  visibility: hidden;
}

#hc .nav:hover {
  background: rgb(108, 232, 162);
}

#hc .nav.clicked {
  background: rgb(108, 232, 162);
}

#hc .nav-text {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #hc .nav-text {
    font-size: 1.1rem;
  }

  #hc #navs-container {
    width: 150px;
    margin-top: 15px;
  }
}
