#orders {
  position: relative;
}

#orders-empty-container {
  /* text-align: center; */
  width: 350px;
  margin: 0 auto;
  margin-top: 100px;
}

#orders-empty-header {
  font-size: 2rem;
  font-weight: 200;
  font-weight: bold;
  color: gray;
  margin: 0px;
  margin-bottom: 10px;
  line-height: 25px;
}

#empty-subHeader {
  color: gray;
  font-weight: bold;
  line-height: 15px;
  margin: 0 auto;
  margin-top: 0px;
}

#orders-offer {
  color: rgb(32, 165, 32);
}

#orders-empty-link {
  width: 350px;
  background: rgb(105, 142, 245);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 1.2rem;
}
#orders-empty-link:hover {
  box-shadow: 0px 0px 5px rgb(32, 165, 32);
  font-size: 1.1rem;
  cursor: pointer;
}

#orders-loading {
  margin-top: 100px;
  text-align: center;
}

#orders-headers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: -10px;
}

#orders-header-suggester {
  font-weight: bold;
  text-align: center;
  color: rgb(99, 99, 99);
  margin-top: 0px;
  font-size: 1.5rem;
}

#orders #cluster-container {
  width: 95%;
  margin: 0 auto;
}

#problem-link {
  margin-bottom: 0px;
  font-size: 0.8rem;
  color: rgb(105, 142, 245);
  text-align: end;
  display: block;
  margin-right: 10px;
  margin-top: 5px;
}

#oc-highlight {
  color: black;
}

@media only screen and (max-width: 700px) {
  #orders-empty-header {
    font-size: 1.5rem;
  }

  #empty-subHeader {
    font-size: 0.8rem;
    width: 450px;
  }

  #orders-empty-link {
    font-size: 0.9rem;
  }

  #orders-empty-link:hover {
    font-size: 9.1rem;
  }
}

@media only screen and (max-width: 600px) {
  #fake-header {
    letter-spacing: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  #orders-empty-container {
    margin-top: 80px;
  }

  #orders-empty-header {
    font-size: 1.2rem;
  }

  #empty-subHeader {
    font-size: 0.7rem;
    width: 350px;
  }

  #orders-empty-link {
    font-size: 0.5rem;
  }

  #orders-empty-link:hover {
    font-size: 0.51rem;
  }
}

@media only screen and (max-width: 450px) {
  #fake-header {
    /* font-size: 3rem; */
    letter-spacing: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  #orders-empty-header {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  #empty-subHeader {
    font-size: 0.6rem;
    width: 350px;
  }

  #orders-empty-link {
    font-size: 0.5rem;
  }

  #orders-empty-link:hover {
    font-size: 0.51rem;
  }
}
