#emailConfirm-gContainer {
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
#emailConfirm-gContainer.hidden {
  display: none;
}

#emailConfirm-container {
  background: white;
  height: 400px;
  width: 500px;
  border: 2px solid black;
}

#confirm-prompt-image {
  width: 95%;
  height: 100px;
  background: lightgoldenrodyellow;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-prompt-header {
  font-size: 2rem;
  letter-spacing: 1rem;
}

#email-address-container {
  display: inline-block;
  width: 250px;
}

#email-address-container .email {
  display: block;
  padding: 5px 15px;
  text-align: center;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
}

#email-address-container #email {
  border: 1px solid black;
}

#email-address-container #edit {
  font-size: 0.7rem;
  color: blue;
}

#email-address-container #edit:hover {
  font-weight: bold;
  cursor: pointer;
}

#emailConfirm-input-actions {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
  text-align: center;
  width: 95%;
}

#emailConfirm-input-actions.height-set {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#emailConfirm-input-actions #header {
  font-size: 0.8rem;
  display: block;
  margin: 20px;
}

#emailConfirm-input-actions .input {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#emailConfirm-input-actions .text {
  width: 150px;
  text-align: center;
  font-size: 1rem;
}

#emailConfirm-input-actions #resend {
  color: blue;
  font-size: 0.7rem;
  display: block;
}

#emailConfirm-input-actions #resend:hover {
  font-weight: bold;
  cursor: pointer;
}

#emailConfirm-input-actions #code-submit {
  margin-bottom: 20px;
  font-size: 0.7rem;
  border: 1px solid black;
  display: inline-block;
  box-shadow: 0px 0px 3px gray;
  padding: 3px 8px;
  cursor: pointer;
}

#emailConfirm-input-actions #code-submit:hover {
  box-shadow: 0px 0px 5px black;
  padding: 4px 10px;
}

#emailConfirm-inputCode-label {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}

#emailConfirm-emailLabel {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}

#emailConfirm-emailLabel.hidden {
  display: none;
}
#emailConfirm-inputCode-label.hidden {
  display: none;
}

#inputCode-form {
  margin-top: 20px;
}

#inputCode.input {
  margin-top: 0px;
}

@media only screen and (max-width: 550px) {
  #emailConfirm-container {
    width: 300px;
  }

  #confirm-prompt-header {
    font-size: 1.5rem;
  }
}
