#emailConfirm-gContainer {
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
#emailConfirm-gContainer.hidden {
  display: none;
}

#emailConfirm-image-container {
  height: 160px;
  background: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#emailConfirm-image-container#ih {
  position: absolute;
}

#emailConfirm-container {
  background: white;
  height: 400px;
  width: 500px;
}

#emailConfirm-fake-header {
  position: absolute;
  font-weight: 600;
  font-size: 3rem;
  left: 50px;
  top: 0px;
}

#emailConfirm-libridoo-logo-image {
  height: 400px;
}

#email-address-container {
  display: inline-block;
  width: 250px;
}

#email-address-container .email {
  display: block;
  padding: 5px 15px;
  text-align: center;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  background: rgb(207, 207, 207);
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

#email-address-container .email::placeholder {
  color: rgb(156, 156, 156);
  font-weight: normal;
}

#email-address-container .email:focus {
  outline-color: transparent;
}

#email-address-container #email {
  background: rgb(207, 207, 207);
  border-radius: 3px;
}

#email-address-container #edit {
  font-size: 0.7rem;
  color: blue;
}

#email-address-container #edit:hover {
  font-weight: bold;
  cursor: pointer;
}

#emailConfirm-input-actions {
  text-align: center;
}

#emailConfirm-input-actions #inputCode {
  background: rgb(207, 207, 207);
  border: 0px;
  height: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 2px;
  color: rgb(99, 99, 99);
}

#emailConfirm-input-actions #inputCode::placeholder {
  font-weight: normal;
}

#emailConfirm-input-actions.height-set {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#emailConfirm-input-actions #header {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 15px;
  color: gray;
}

#emailConfirm-input-actions .input {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#emailConfirm-input-actions .text {
  width: 150px;
  text-align: center;
  font-size: 1rem;
}

#emailConfirm-input-actions #resend {
  color: blue;
  font-size: 0.7rem;
  display: block;
}

#emailConfirm-input-actions #resend.inactive {
  color: gray;
}

#emailConfirm-input-actions #resend:hover {
  font-weight: bold;
  cursor: pointer;
}

#emailConfirm-input-actions #resend.inactive:hover {
  cursor: default;
  font-weight: normal;
}

#emailConfirm-input-actions #code-submit {
  margin-bottom: 20px;
  cursor: pointer;
  width: 150px;
  background: rgb(105, 142, 245);
  font-weight: bold;
  color: white;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
}

#emailConfirm-input-actions #code-submit:hover {
  box-shadow: 0px 0px 3px rgb(105, 142, 245);
}

#emailConfirm-inputCode-label {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}

#emailConfirm-emailLabel {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}

#emailConfirm-emailLabel.hidden {
  display: none;
}
#emailConfirm-inputCode-label.hidden {
  display: none;
}

#inputCode-form {
  margin-top: 20px;
}

#inputCode.input {
  margin-top: 0px;
}

@media only screen and (max-width: 550px) {
  #emailConfirm-container {
    width: 300px;
  }

  #emailConfirm-fake-header {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }

  #confirm-prompt-header {
    font-size: 1.5rem;
  }
}
