#account-gContainer {
  text-align: center;
}

#account-gContainer #avatarImg-container {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 0px 2px black;
}

#account-gContainer #avatarImg {
  /* border: 2px solid black; */
  width: 100%;
  margin: 0 auto;
  height: 200px;
}

#account-gContainer #name {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

#account-gContainer #rating {
  margin-bottom: 80px;
}

#account-gContainer .fa-star {
  margin-left: 10px;
  color: rgb(99, 99, 99);
  font-size: 0.8rem;
  margin-top: 0px;
}

#account-gContainer .stars-container {
  display: flex;
  align-items: center;
}

#account-gContainer .rating-average {
  margin: 0px;
  margin-left: 10px;
}

#account-gContainer #ratings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

#account-gContainer #ratings-container #quality {
  margin-top: 0px;
}

#account-gContainer .rating-container {
  font-weight: bold;
  color: rgb(99, 99, 99);
  margin-top: 10px;
}

#account-gContainer .rating-header {
  margin: 0px;
  line-height: 15px;
}
