#results #filters {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 20px;
  border-top: 0px;
}

#results #submit-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#results #submit-container.hidden {
  display: none;
}

#results #inputs-container {
  margin: 20px auto;
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#results .input-container {
  position: relative;
  margin: 5px 15px;
}
#results .input-filter-icon.delete {
  color: red;
  border: 1px solid red;
}

#results .input-filter-icon.edit {
  color: green;
  border: 1px solid green;
}

#results .input-filter-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  text-align: center;
  line-height: 13px;
  border-radius: 8.5px;
  top: -7.5px;
  left: -7.5px;
  margin: 0px;
  z-index: 10;
}

#results .input-filter-icon:hover {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid;
}

#results .input {
  width: 100%;
}

#results .text {
  width: 25%;
  min-width: 100px;
}

#results .select {
  width: 50%;
  min-width: 230px;
  max-width: 300px;
}

#results .filter {
  height: 20px;
  font-size: 0.8rem;
  text-align: center;
}

#results #filter-submit {
  font-size: 0.8rem;
  border: 1px solid black;
  display: inline-block;
  margin: 0px;
  padding: 3px 8px;
  box-shadow: 0px 0px 3px gray;
  cursor: pointer;
}

#results #filter-submit:hover {
  box-shadow: 0px 0px 5px black;
  padding: 4px 10px;
}

#results #filters #header {
  position: absolute;
  background: white;
  border: 1px solid black;
  bottom: -10px;
  margin: 0px;
  width: 100px;
  text-align: center;
  padding: 3px 0px;
  right: -10px;
}

#results #wrongFilters {
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 50px 0;
  margin-top: 150px;
}

#results .active {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

#results #ui-container {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
  padding: 20px 15px;
  padding-top: 30px;
  box-sizing: border-box;
}

#results #ui-header {
  border: 1px solid black;
  display: inline-block;
  padding: 3px 20px;
  margin: 0px;
  position: absolute;
  top: -10px;
  background: white;
  left: -5px;
}

#results #list-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  justify-content: center;
}

#results .ui-list {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0px;
  height: 20px;
  text-align: center;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 5px;
}

#results .bold {
  font-weight: 500;
  border: 1px solid black;
}

#results #results-footer {
  width: 95%;
  border-top: 1px solid black;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -47.5%;
  background: white;
}

#results #nav-ui {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 10px;
}

#results .nav {
  color: red;
}

#results .nav:hover {
  cursor: pointer;
  font-size: 1.2rem;
}

#results #bodyComponent-container {
  padding-bottom: 100px;
}

#resultsReview {
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 60px;
}

#results-review-header {
  text-align: center;
  font-size: 1.5rem;
}

#results #choices-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.results-review-link {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 20px;
}

.results-review-link:hover {
  cursor: pointer;
  padding: 2px 5px;
}

#checkout-order-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

#checkout-order {
  width: 200px;
}

#checkout-order-header {
  font-size: 0.85rem;
  display: inline-block;
  margin-right: 10px;
}

#results-loading {
  text-align: center;
  position: fixed;
  top: 450px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
}
